.ispag-modal-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* on empêche le scroll global de la page */
}
.ispag-modal-fullscreen-inner {
  display: flex;
  height: 100%;
  overflow: hidden; /* on garde la structure propre */
}
.ispag-modal-fitting-right {
  flex: 1;
  overflow-y: auto;  /* active le scroll vertical si besoin */
  padding: 1rem;
  max-height: 100vh; /* important pour limiter à la hauteur de l’écran */
}
.ispag-modal-left {
  width: 25%;
  padding: 2rem;
  border-right: 1px solid #ddd;
  background: #f8f8f8;
}
.ispag-modal-right {
  width: 75%;
  padding: 2rem;
  overflow-y: auto;
}
.ispag-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
#modal_img { 
  max-width: 100%;
  max-height: 500px;
  height: auto;
}
.responsive-svg {
  width: auto;
  height: 100%;
  display: block;
}
.responsive-svg-top {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1 / 1; /* carré, ou adapte en fonction */
}