/* :root {
  --ispag-red: #990000;
  --ispag-dark: #333;
  --ispag-grey: #f2f2f2;
  --ispag-btn-grey: #a19a9a;
  --ispag-white: #fff;
  --ispag-green: #6ab04c;
  --ispag-blue: #45c0e6;
  --ispag-blue-light: #99d5df;
  --ispag-orange: #ffc107;
  --ispag-light-grey: #fafafa;
} */
